.footer-section {
    background-color: #EFF0F3;
    overflow: hidden;
    font-size: 14px;
}

/* --- Phần top --- */
.footer-top-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/backgroundFooter.jpg');
    margin: 0;
    padding: 1rem 12rem;
}

.footer-logo {
    max-height: 120px;
    width: auto;
}

/* --- Phần nội dung chính --- */
.footer-content {
    padding: 2rem 12rem;
}

.footer-content h5 {
    color: #000;
    font-weight: 600;
}

/* Định dạng cho các icon mạng xã hội */
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.social-icons:hover {
    transform: scale(1.1);
    color: white;
}


/* --- RESPONSIVE --- */

/* Màn hình Tablet */
@media screen and (max-width: 1200px) {

    .footer-top-section,
    .footer-content {
        padding: 2rem 6rem;
    }
}

@media screen and (max-width: 992px) {

    .footer-top-section,
    .footer-content {
        padding: 2rem 3rem;
    }

    .footer-top-section {
        text-align: center;
    }
}

/* Màn hình Mobile */
@media screen and (max-width: 768px) {

    .footer-top-section,
    .footer-content {
        padding: 1.5rem 1.5rem;
    }

    .footer-logo {
        max-height: 100px;
    }
}