.wrapper-product {
    padding: 2rem 12rem 4rem 12rem;
    background-color: #EFF0F3;
}

.category-title {
    text-shadow: none;
}

@media (max-width: 1200px) {
    .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 992px) {
    .wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}