/* src/ResetPassword.css */

.reset-password .py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.input-text {
    width: 100%;
    padding: 0.75rem 0;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #000000;
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s ease;
    color: #000000;
    font-size: 18px;
}

.btn-reset-password {
    background-color: #ff5622;
    color: white;
    padding: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: 500;
}

.btn-reset-password:hover {
    background-color: #d43b0c;
    color: white;
}

.btn-reset-password:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.reset-password .input-text:-webkit-autofill,
.reset-password .input-text:-webkit-autofill:hover,
.reset-password .input-text:-webkit-autofill:focus {
    -webkit-text-fill-color: #000000;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}